# .clangd
CompileFlags:
  # This tells clangd where to find the compilation database
  # The "." means "look in the current directory"
  CompilationDatabase: "."
  
  # Any flags added here will be APPENDED to what bear finds.
  # Usually, you don't need much here anymore, but sometimes 
  # extra help for the LSP is useful.
  Add: [
    -isystemextern,
    -Wno-unknown-pragmas # Stops the LSP moaning about compiler-specific bits
  ]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      readability-*,
      modernize-*,
      cert-*,
      concurrency-*,
      misc-unused-parameters,
    ]