CompileFlags:
  Add: [
    # Standards & Core
    -std=c23,
    -pthread,
    -Wall, -Wextra, -Wpedantic, -Wshadow, -Wconversion,
    
    # Written for clarity only
    # Essentials refer above
    # Type Safety & Casting
     -Wsign-conversion, -Wdouble-promotion, -Wfloat-equal,
    -Wcast-qual, -Wcast-align, -Wwrite-strings,
    
    # Modern C & Best Practices
    -Wstrict-prototypes, -Wmissing-prototypes,
    -Wimplicit-fallthrough, -Wvla, -Wundef,
    
    # Logic & UB Prevention
    -Wstrict-overflow=5,
    -Wformat=2,
    -Wnull-dereference,
    
    # System/Environment (Adjust as needed)
    -D_DEFAULT_SOURCE,
    

    # Exclusion of rigorous rule for external library
    -isystem, extern,
  ]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*,
      performance-*,
      readability-*,
      modernize-*,
      cert-*,
      concurrency-*,
      misc-unused-parameters,
    ]
    Remove: [
      
    ]